.contentTable {

  div.icon {
    width: 80px;
    margin-right: 7px;
  }
  span.icon {
    margin-top: 10px;
    font-size: 92px;
  }
}

.ReactTable {
  border: none !important;

  .rt-resizer {
    z-index: 0 !important;
  }

  .rt-thead.-header {
    display: none;
  }

  .rt-table {
    border: 1px solid #ccc;
  }

  .rt-tr-group {
    border: none !important;
  }

  .rt-tr {
    border-bottom: 1px solid #ccc;
  }

  .rt-td.flex {
    display: flex;
    align-items: center;
  }
  
  .rt-noData {
    padding: 5px 10px !important;
    color: black !important;
    top: 20px !important;
    border-radius: 5px;
  }

  .pagination-bottom {
    margin-top: 8px;

    p {
      margin: 9px 0px;
    }
  }
}

.ReactTable.-highlight .rt-body .rt-tr:hover {
  background-color: #ccc !important;
}

// ####################################################################################################################
.repoTree {

  overflow: auto;

  .rc-tree-node-content-wrapper {
    display: inline !important;
  }

  .rc-tree-node-content-wrapper-normal {
    display: inline !important;
    cursor: auto !important;
  }
  
  .rc-tree-node-selected {
    background-color: #d2eafd;
    border-color: #d2eafd;
    opacity: 1;
  }

  .rc-tree-switcher-noop {
    display: none;
  }

}

// ####################################################################################################################

.browseMenuBar-outer {
  overflow: hidden;
  padding-bottom: 10px;
}

.browseMenuBar {
  border: 1px solid #ccc;
  border-bottom: none;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

div.filter {
  display: flex;
  padding: 6px 16px;

  i {
    padding: 4px;
    background: white;
    text-align: center;
    border: 1px solid #ccc;
    border-right: none;
  }

  input {
    padding: 0px 6px;
    border: 1px solid #ccc;
    width: 150px;
  }
}

div.pdf-nav {
  display: inline-block;
  width: auto;
}

div.react-pdf__Page__svg {
  margin: 0px auto;
}

div.contentPath {
  margin-bottom: 6px;
}