$color: #2196f3;
$color0: #f2f9fe;
$color1: #d2eafd;
$color2: #a6d4fa;
$color3: #79bff8;
$color4: #4daaf6;
$color5: #0c87eb;
$color6: #0b78d1;
$color7: #0a69b7;
$color8: #085a9d;
$color9: #074b83;

.margin-0 {
  margin: 0px !important;
}

.highlight {
  color: $color6;
}

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}